.navbar-toggler {
	webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.navbar-inverse .navbar-nav .nav-link, .navbar-nav .nav-link {
    color: #121212 !important;
}

.page-link {
    transition-duration: 400ms;
}
.page-link:hover, .page-link.active {
    background-color: #bb070287 !important;
}

